
body {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('C:/Users/renat/Downloads/fundo_kb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.container-top span {
   margin-top: 10px;
}

.container-top img {
   max-width: 60px;
   max-height: 60px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.article-text {
    color: #747B81;
    text-align: center;
    padding: 10px 0;
}

.bold-text {
    color: #747B81;
    font-weight: bold;
}
.bold-text-white {
    color: #FCFCFC;
    font-weight: bold;
}

.container-main {
    background-color: #747B81;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.info-budget {
    margin-top:10px;
    padding-left:10px;
    margin-bottom:10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #FFFFFF;
    color: #747B81;
    height: 90px;
    width: 95%;
    border-radius: 10px;
}

.client-info {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
}
.client-info span{
    padding-bottom:10px;
}
.client-data{
    padding-right:20px;
}
.article-info {
    margin: 10px;
    padding: 10px;
    border: 2px solid #FCFCFC;
    border-radius: 10px;
    min-width: 60%;
    text-align: center;
    white-space: nowrap;
    color: #FCFCFC;
}

.info-items {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #747B81;
}

th {
    background-color: #747B81;
    color: #FCFCFC;
    text-align: left;
    padding: 8px;
}

td {
    padding: 8px;
    color: #747B81;
}

.summary-budget {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    align-items: center;
    gap: 20px;
}


.details {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #747B81;
}

.payment {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.payment-info {
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    min-width: 60%;
    height: 25px;
    line-height: 25px;
    background-color: #747B81;
    color: #FCFCFC;
    margin-bottom: 5px;
    font-size: 14px;
}
.payment-detail {
    text-align: center;
    white-space: nowrap;
    min-width: 60%;
    line-height: 25px;
    color: #747B81;
    margin-bottom: 5px;
    font-size: 14px;
}
.payment-cash {
    border: solid 1px #747B81;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    min-width: 60%;
    height: 25px;
    line-height: 25px;
    color: #747B81;
    margin-bottom: 5px;
    font-size: 14px;
}
.details-info {
    font-size: 14px;
    margin-bottom: 5px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #72797E;
}
