<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header class="container-top">
        <img src="images/logo.png" alt="Sample Photo" />
        <a class="article-text"><span class="proposal-text">PROPOSTA</span> COMERCIAL </a>
    </header>
    <main class="container-main">
        <a class="article-info"> INFORMAÇÕES DO CLIENTE</a>
        <section class="info-budget">
            <div>
                <a> Nome:@Model.Name</a>
            </div>


        </section>
        <a class="article-info"> ITENS DO ORÇAMENTO</a>
        <section class="info-items">
            <table>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </table>
           <div>

           </div>

        </section>
        
    </main>    

</body>
</html>